version: 2.1

jobs:
  tests:
    docker:
      - image: stefanogallotti/adventofcode
    steps:
      - checkout
      - run:
          name: Install missing libs
          command: |
            python -m pip install -r requirements/base.txt
            python -m pip install -r requirements/test.txt
      - run:
          name: Run tests
          command: |
            python -m pytest --cov-report xml --cov-report term --cov .
      - run:
          name: Send to codecov
          command: |
            bash <(curl -s https://codecov.io/bash) -Z
      - run:
          name: Run flake8
          command: |
            python -m flake8 .
      # - run:
      #     name: Run mypy
      #     command: |
      #       python -m mypy y_2015/*.py && python -m mypy y_2019/*.py  && python -m mypy y_2020/*.py
workflows:
  CI:
    jobs:
      - tests
